@model CinemaMaxFeeder.Database.Model.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSlideShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSlideShow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownloadStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnTranslationFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnTranslationFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArTranslationFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArTranslationFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgThumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgThumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgMediumThumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgMediumThumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgObjUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgObjUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgMediumThumbObjUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgMediumThumbObjUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeriesRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeriesRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpisodeNummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpisodeNummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSpecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSpecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbUrlRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdbUrlRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgBanner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgBanner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RootSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RootSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseParentImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseParentImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpTranslationFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpTranslationFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpisodeFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpisodeFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioStreamNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioStreamNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentSkipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentSkipping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CacheShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CacheShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgThumbObjUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgThumbObjUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArTranslationFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArTranslationFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnTranslationFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnTranslationFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasIntroSkipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasIntroSkipping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoLikesNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoLikesNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoDisLikesNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoDisLikesNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoCommentsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoCommentsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoViewsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoViewsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Castable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Castable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDownloadAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDownloadAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishDownloadAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishDownloadAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadRetry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownloadRetry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownloadId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
